html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("/images/luca-bravo.jpg");
  /* min-height: 100vh;
  height: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;              
}

#history {
  background-image: none;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  opacity: 0.9;
}

#footer {
  background-color: whitesmoke;
}