@page
@model AboutModel
@{
    ViewData["Title"] = "O mnie";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <p>
        <h2>Tomasz Król</h2>
        <i>Ponad 25 lat doświadczenia w produkcji oprogramowania dla biznesu</i>
    </p>
    <p>Telefon: <a href="tel:502346700">502 346 700</a></p>
    <p>E-mail: <a href="mailto:tkrol@intellinet.pl">tkrol@intellinet.pl</a></p>
</div>
